// Edit Item view.
// @param {boolean} error If an error occured.
// @param {string=} errorMsg The error message.
// @param {Object|Error=} errorObj The full Error Object.
// @param {Object=} item The item object.
// @param {Object=} schema The item Schema.
// @param {Object=} opts Options for rendering.

include item.mix.jade

block crudcontent
  .row-fluid.item-edit
    .span12
      p Nothing to see here