// Mongo data drivers

- function getValue(item, schemaItem) {
-   var paths = schemaItem.path.split('.');
-   var val = item[paths.shift()];
-   if (0 < paths.length) {
-     paths.forEach(function(p){
-       val = val[p];
-     });
-   }
-   return val;
- }

- function getName(path) {
-   var name = path.split('.').pop();
-   return name.charAt(0).toUpperCase() + name.slice(1);
- }