// Single Item view.
// @param {boolean} error If an error occured.
// @param {string=} errorMsg The error message.
// @param {Object|Error=} errorObj The full Error Object.
// @param {Object=} item The item object.
// @param {Object=} schema The item Schema.
// @param {Object=} opts Options for rendering.

include item.mix.jade

block crudcontent
  .row-fluid.item-list
    .span12
      - if (error)
        .alert.alert-error
          button(type="button",data-dismiss="alert").close &times;
          strong Error!
          | #{errorMsg}
      - else
        - if (success)
          .alert.alert-success
            button(type="button",data-dismiss="alert").close &times;
            strong Success!
            | Item was successfully edited!
        mixin viewItem(item, schema, opts)
